<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349911897247-4i4cb4kgvp55bslb9n08br4d7d2oi7cb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349911897247-4i4cb4kgvp55bslb9n08br4d7d2oi7cb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>349911897247-2t5sai6mrtffmopptebl92u0lumm1ok2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDCWYnt9OchlVxIvcTngoaGdLgkiefrA-g</string>
	<key>GCM_SENDER_ID</key>
	<string>349911897247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wehearyou</string>
	<key>PROJECT_ID</key>
	<string>wehearyou-c9eb8</string>
	<key>STORAGE_BUCKET</key>
	<string>wehearyou-c9eb8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349911897247:ios:dacbdebca7b91101967eaa</string>
	<key>DATABASE_URL</key>
	<string>https://wehearyou-c9eb8-default-rtdb.firebaseio.com</string>
</dict>
</plist>